#pause-main{
    display: flex;
    height: 100%;
    position: absolute;
    justify-content: center;
    font-family: 'Monoton';
    z-index: 2;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
}
#pause{
    display: none;
    flex-direction: row;
    top: 20px;
    margin-left: -20px;
    position: absolute;
    justify-content: flex-end;
}
#pause2:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
}
#home{
    display: none;
    flex-direction: row;
    top: 20px;
    margin-left: -20px;
    position: absolute;
    justify-content: flex-end;
}
#home2:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
}
canvas{
    align-items: center;
    justify-content: center;
    display: flex;
}
#game-paused{
    display: none;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: rgb(59, 59, 59, 0.6);
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
}
#play{
    height: 200px;
    position: absolute;
    z-index: 3;
}
#play:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 1.2s;
}
#game-over{
    display: none;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgb(59, 59, 59, 0.7);
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
}
#over{
    color: red;
    font-family: 'Monoton';
    font-size: 50px;
    text-align: center;
    height: 200px;
    position: absolute;
    z-index: 2;
}

#main{
    display: block;
    height: 100%;
    position: absolute;
    color: whitesmoke;
    font-family: 'Monoton';
    background-color: rgb(59, 59, 59);
    z-index: 3;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
}
#title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 65px;
    z-index: 3;
}
#play-main{
    height: 50%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
#play-main1{
    height: 250px;
    position: absolute;
    z-index: 3;
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes pulse_animation {
    0% { transform: scale(1); }
    12.5% { transform: scale(1.1); }
    25% { transform: scale(1); }
    37.5% { transform: scale(1.1); }
    50% { transform: scale(1); }
    62.5% { transform: scale(1.1); }
    75% { transform: scale(1); }
    87.5% { transform: scale(1.1); }
    100% { transform: scale(1);}
}
#play-main1:hover{
    cursor: pointer;
}
#menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    bottom: 40px;
    position: absolute;
    justify-content: center;
}
.menu1{
    margin-left: 30px;
    margin-right: 30px;
}
.menu1:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: 0.5s;
}
#high-score{
    width: 100%;
    display: flex;
    position: absolute;
    top: 10px;
    font-size: 25px;
    justify-content: center;
}
